--
-- PostgreSQL database dump
--

\restrict deUoCT2CWLIha5NA6pvhHOKIMm9GVMWXw2WfcbUiI4McLp76JdPTd2mkZYcwoUe

-- Dumped from database version 14.19 (Debian 14.19-1.pgdg13+1)
-- Dumped by pg_dump version 14.19 (Debian 14.19-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: communities; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.communities (
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    description character varying(255),
    name character varying(255)
);


--
-- Name: communities_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.communities ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.communities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: community_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.community_members (
    star_contribute real,
    community_id bigint,
    id bigint NOT NULL,
    user_id bigint,
    role character varying(255),
    CONSTRAINT community_members_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'MEMBER'::character varying])::text[])))
);


--
-- Name: community_members_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.community_members ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.community_members_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: community_tag; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.community_tag (
    community_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


--
-- Name: course_module; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_module (
    course_id bigint,
    id bigint NOT NULL,
    module_id bigint NOT NULL,
    user_id bigint NOT NULL,
    role character varying(255),
    CONSTRAINT course_module_role_check CHECK (((role)::text = ANY ((ARRAY['CREATOR'::character varying, 'CONTRIBUTOR'::character varying])::text[])))
);


--
-- Name: course_module_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.course_module ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.course_module_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: course_tag; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_tag (
    course_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


--
-- Name: courses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.courses (
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    update_at timestamp(6) without time zone,
    commenturl character varying(255),
    description character varying(255),
    name character varying(255)
);


--
-- Name: courses_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.courses ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lessons; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.lessons (
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    module_id bigint,
    update_at timestamp(6) without time zone,
    commenturl character varying(255),
    contenturl character varying(255),
    description character varying(255),
    documenturl character varying(255),
    name character varying(255)
);


--
-- Name: lessons_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.lessons ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lessons_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: modules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.modules (
    course_id bigint,
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    update_at timestamp(6) without time zone,
    name character varying(255)
);


--
-- Name: modules_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.modules ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.modules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    content text,
    title character varying(255),
    type character varying(255),
    url character varying(255),
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['BROADCAST'::character varying, 'PERSONAL'::character varying])::text[])))
);


--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.notifications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: post_course; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.post_course (
    course_id bigint,
    id bigint NOT NULL,
    post_id bigint NOT NULL,
    user_id bigint NOT NULL,
    role character varying(255),
    CONSTRAINT post_course_role_check CHECK (((role)::text = ANY ((ARRAY['CREATOR'::character varying, 'CONTRIBUTOR'::character varying])::text[])))
);


--
-- Name: post_course_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.post_course ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.post_course_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: posts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.posts (
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    update_at timestamp(6) without time zone,
    contenturl character varying(255),
    name character varying(255)
);


--
-- Name: posts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.posts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.posts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reactions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reactions (
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    target_id bigint,
    user_id bigint,
    type character varying(255),
    CONSTRAINT reactions_type_check CHECK (((type)::text = ANY ((ARRAY['POST'::character varying, 'COURSE'::character varying])::text[])))
);


--
-- Name: reactions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.reactions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.refresh_tokens (
    expired boolean NOT NULL,
    revoked boolean NOT NULL,
    expiry_date timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    user_id bigint,
    token character varying(255) NOT NULL
);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.refresh_tokens ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.refresh_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tag; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tag (
    id bigint NOT NULL,
    name character varying(255)
);


--
-- Name: tag_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_notifications (
    deleted boolean NOT NULL,
    id integer NOT NULL,
    is_read boolean NOT NULL,
    delivered_at timestamp(6) without time zone,
    notification_id bigint,
    read_at timestamp(6) without time zone,
    user_id bigint
);


--
-- Name: user_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.user_notifications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    avatarurl character varying(255),
    email character varying(255),
    first_name character varying(255),
    last_name character varying(255),
    password character varying(255),
    role character varying(255),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['USER'::character varying, 'ADMIN'::character varying])::text[])))
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: wishlists; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.wishlists (
    course_id bigint,
    id bigint NOT NULL,
    user_id bigint
);


--
-- Name: wishlists_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.wishlists ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wishlists_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: communities communities_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.communities
    ADD CONSTRAINT communities_pkey PRIMARY KEY (id);


--
-- Name: community_members community_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT community_members_pkey PRIMARY KEY (id);


--
-- Name: community_tag community_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_tag
    ADD CONSTRAINT community_tag_pkey PRIMARY KEY (community_id, tag_id);


--
-- Name: course_module course_module_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_module
    ADD CONSTRAINT course_module_pkey PRIMARY KEY (id);


--
-- Name: course_tag course_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_tag
    ADD CONSTRAINT course_tag_pkey PRIMARY KEY (course_id, tag_id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: lessons lessons_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT lessons_pkey PRIMARY KEY (id);


--
-- Name: modules modules_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: post_course post_course_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_course
    ADD CONSTRAINT post_course_pkey PRIMARY KEY (id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: reactions reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT reactions_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_token_key UNIQUE (token);


--
-- Name: refresh_tokens refresh_tokens_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_key UNIQUE (user_id);


--
-- Name: tag tag_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT tag_pkey PRIMARY KEY (id);


--
-- Name: user_notifications user_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_notifications
    ADD CONSTRAINT user_notifications_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wishlists wishlists_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_pkey PRIMARY KEY (id);


--
-- Name: wishlists wishlists_user_id_course_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_user_id_course_id_key UNIQUE (user_id, course_id);


--
-- Name: refresh_tokens fk1lih5y2npsf8u5o3vhdb9y0os; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT fk1lih5y2npsf8u5o3vhdb9y0os FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: wishlists fk330pyw2el06fn5g28ypyljt16; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT fk330pyw2el06fn5g28ypyljt16 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: course_module fk37evi7ycftvwerpl5fg7cwdj5; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_module
    ADD CONSTRAINT fk37evi7ycftvwerpl5fg7cwdj5 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: post_course fk4c7987drkb3w1rpks754ehs10; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_course
    ADD CONSTRAINT fk4c7987drkb3w1rpks754ehs10 FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: course_tag fk7om0f3y4q6v90v5mv8femot2g; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_tag
    ADD CONSTRAINT fk7om0f3y4q6v90v5mv8femot2g FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: modules fk8qnnp812q1jd38fx7mxrhpw9; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT fk8qnnp812q1jd38fx7mxrhpw9 FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: user_notifications fk9f86wonnl11hos1cuf5fibutl; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_notifications
    ADD CONSTRAINT fk9f86wonnl11hos1cuf5fibutl FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: community_tag fkbmhmca06nfp1xbd5oobqlwe9c; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_tag
    ADD CONSTRAINT fkbmhmca06nfp1xbd5oobqlwe9c FOREIGN KEY (tag_id) REFERENCES public.tag(id);


--
-- Name: course_tag fkj7piuv0dh0v01l3aolwwd1jwh; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_tag
    ADD CONSTRAINT fkj7piuv0dh0v01l3aolwwd1jwh FOREIGN KEY (tag_id) REFERENCES public.tag(id);


--
-- Name: wishlists fkkc0tlqnbib2jgbshqrwcjag4g; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT fkkc0tlqnbib2jgbshqrwcjag4g FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: community_members fkme7k1stbnwi6cpmm8a6sgcikn; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT fkme7k1stbnwi6cpmm8a6sgcikn FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: course_module fkmntyasen2aeys91idimg1afpx; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_module
    ADD CONSTRAINT fkmntyasen2aeys91idimg1afpx FOREIGN KEY (module_id) REFERENCES public.modules(id);


--
-- Name: user_notifications fkovvx0ab3h8s9lrm6fppuadn7d; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_notifications
    ADD CONSTRAINT fkovvx0ab3h8s9lrm6fppuadn7d FOREIGN KEY (notification_id) REFERENCES public.notifications(id);


--
-- Name: course_module fkoxnv7ml9seonn275kmgq5sxy4; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_module
    ADD CONSTRAINT fkoxnv7ml9seonn275kmgq5sxy4 FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: community_tag fkqc49nx0y0owtpr126v9rdyac5; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_tag
    ADD CONSTRAINT fkqc49nx0y0owtpr126v9rdyac5 FOREIGN KEY (community_id) REFERENCES public.communities(id);


--
-- Name: reactions fkqmewaibcp5bxtlqxc2cawhuln; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT fkqmewaibcp5bxtlqxc2cawhuln FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: community_members fkqn9g17tqcwnoy41o2am9fnlep; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT fkqn9g17tqcwnoy41o2am9fnlep FOREIGN KEY (community_id) REFERENCES public.communities(id);


--
-- Name: post_course fks8ehr333pog3478jppyiph58v; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_course
    ADD CONSTRAINT fks8ehr333pog3478jppyiph58v FOREIGN KEY (post_id) REFERENCES public.posts(id);


--
-- Name: lessons fkt9yjhjbd9y3w6fxs66ny1wu02; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT fkt9yjhjbd9y3w6fxs66ny1wu02 FOREIGN KEY (module_id) REFERENCES public.modules(id);


--
-- Name: post_course fktigrtxq9f8ev10yvycjhutfxt; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_course
    ADD CONSTRAINT fktigrtxq9f8ev10yvycjhutfxt FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict deUoCT2CWLIha5NA6pvhHOKIMm9GVMWXw2WfcbUiI4McLp76JdPTd2mkZYcwoUe

