spring:
  application:
    name: online

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQLDialect
      format_sql: true
    show-sql: true

  data:
    mongodb:
      uri: ${MONGO_URI}

  redis:
    host: localhost
    port: 6379
    timeout: 6000
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0

  cache:
    type: redis


app:
  jwt:
    secret: ${SECRET_KEY}
  elasticsearch:
    url: ${ES_URI}

#logging:
#  level:
#    org.springframework.web: INFO
#    org.hibernate.SQL: INFO

